
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainheader{
    display: flex;
    
    justify-content: space-between;
    border:1px solid black;
}
.logo{
    width: 110px;
}
.navlist > ul{
    font-size: 20px;
    display: flex;
    margin-top: 20px;
    list-style-type: none;
}
.navlist > ul > li{
    margin: 10px;
    padding: 10px;
}
.filter{
    margin: 20px;
    padding: 10px;
}

.restaurentMenu{
    background-color:#f0f0f0;
    display: flex;
    flex-wrap:wrap;
}
.res-cards{
    
    width: 200px;
    text-align: center; 
    padding: 20px;
    margin: 20px;  
}
.res-cards :hover{
    background-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.5s
}
.cardimg{
    padding-top: 5px;
    width: 100%;
    filter: grayscale(100%);
    box-shadow:0 0 20px #003 ;

}

.cardimg:hover {
    filter: grayscale(0%);
}
.shimmer-card{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    margin: 20px;
    width: 200px;
    background-color: #f0f0f0;
}

.login-btn{
    padding: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: rgb(1, 14, 14);
    font-size: 100%;
    background-color: aliceblue;
   
}
.user-det{
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}
.classButton{
    color: black;
    padding: 5px;
    margin-bottom: 25px;
}